* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  header {
      height: 70px;
      background-color: rgb(48, 48, 48);
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      align-items: center;
  }

  button:focus{
    outline: none;
}

  .container {
    max-width: 65%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .logo {
    color: white;
    cursor: pointer;
}

  .btn-cart {
    color: rgb(48, 48, 48);
    padding: 10px 20px;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #fffdfd;
    transition: 0.5s;
  }

.btn-cart:hover {
  color: white;
  background-color: rgb(48, 48, 48);
  transition: 0.5s;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.products h3 {
  margin: 15px 0;
}

.products p {
  margin: 15px 0;
}


.products img {
  margin: 0 35px;
}

.product-item {
  width: 220px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  padding: 10px;
}

.buy-btn {
    width: 100%;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(48, 48, 48);
    border: 1px solid #000000;
    transition: 0.5s;
}

.buy-btn:hover {
  color: #000000;
  background-color: white;
  transition: 0.5s;
}

.cart{
  position: relative;
}
.cart-block{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  box-sizing: border-box;
  right: 0;
  top: 130%;
  position: absolute;
  background-color: white;
  padding: 20px;
  color: black;
  width: 350px;
}

.invisible{
  display: none;
}
.cart-block:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 35px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.buy-btn, .del-btn{
  margin-top: 5px;
  background-color: #2f2a2d;
  padding: 5px 15px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  transition: all ease-in-out .4s;
  cursor: pointer;
}
.buy-btn:hover, .del-btn:hover{
  background-color: #fafafa;
  color: #2f2a2d;
  border: 1px solid #2f2a2d;
}
.cart-item {
  display: flex;
  justify-content: space-between;
}
.cart-item:not(:last-child){
  margin-bottom: 20px;
}
.product-bio{
  display: flex;
}
.cart-item img{
  align-self: flex-start;
  margin-right: 15px;
}
.product-single-price{
  color: #474747;
  font-size: 0.5em;
}
.product-price{
  margin-left: 30px;
}
.product-desc{
  max-width: 150px;
}
.product-quantity {
  margin-top: 15px;
  font-size: 0.75em;
}
.right-block{
  text-align: right;
}
.btn-search {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.search-form{
  position: relative;
  margin-right: 50px;
  display: inline-block;
}
.search-field:focus{
  outline: none;
}
.search-field {
  box-sizing: border-box;
  width: 200px;
  color: #fafafa;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fafafa;
}

.svg-inline--fa {
  cursor: pointer;
}